@model TicketApp.Domain.DomainModels.Movie

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">Back to List</a>

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <hr />

    <div class="card" style="width: 18rem;">
        <img src="@Html.DisplayFor(model => model.Poster)" class="card-img-top" alt="Poster">
    </div>

    <br />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Director)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Director)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Synopsis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Synopsis)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
        </dl>
    </div>

    <div>
        <h4>Tickets</h4>
        <hr />
        @if (Model.Tickets.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Hall</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td>@ticket.Date</td>
                            <td>@ticket.Hall</td>
                            <td>@ticket.Price</td>
                            <td><a href="/Ticket/AddToCart?ticketId=@ticket.Id&movieId=@Model.Id&cartId=1" type="button" class="btn btn-outline-primary">Add To Cart</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No tickets available for this movie.</p>
        }
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
    </div>
