@model TicketApp.Domain.DTO.ShoppingCartDto

<h1>Your Cart</h1>

@if (Model.TicketsInShoppingCart.Count == 0)
{

    <h2>No tickets added to your cart!</h2>

}
else
{

    <table class="table">
        <thead>
        <th class="col">
            #
        </th>

        <th>
            Name
        </th>

        <th>
            Screening
        </th>

        <th>
            Hall
        </th>

        <th>
            Quantity
        </th>

        <th>
            Price
        </th>

        <th>
        </th>

        </thead>

        <tbody>
            @{
                var i = 1;
                foreach (var item in Model.TicketsInShoppingCart)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>

                        <td>
                            @item.Ticket.Movie.Title
                        </td>

                        <td>
                            @item.Ticket.Date
                        </td>

                        <td>
                            @item.Ticket.Hall
                        </td>

                        <td>
                            @item.Quantity
                        </td>

                        <td>
                            @item.Ticket.Price
                        </td>

                        <td>
                            <a class="btn btn-danger" href="/ShoppingCart/DeleteFromShoppingCart/@item.Ticket.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Total:</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>@Model.TotalPrice</th>
            </tr>
        </tfoot>
    </table>

    <div class="row">
        <div class="form-group">
            <a href="/ShoppingCart/PayTickets" class="btn btn-success">Pay Tickets</a>
        </div>
    </div>
}